body {
    background: #FFF;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

header {
    background: url("../images/header-bg.jpg");
    height: 250px;
    background-size: 100%;
    padding-left: 60px;
    padding-top: 60px;
    position: relative;
}

header img {
    overflow: hidden;
    height: 250px;
    width: 250px;
    position: absolute;
}

.layer-1 {
    position: absolute;
    bottom: 0;
    right: 0;
}


.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background: mediumpurple;
    margin-top: 5px;
}

.flex-element {
    display: flex;
    color: black;
    padding: 15px;
    background: mediumpurple;


}

.main-container {
    display: flex;
    flex-direction: row;


}
.secondblock {
    display:flex;
    flex-direction: row;
}

.articles {
    display: flex;
    flex-wrap: nowrap;

}

.about {
display:flex;


}

.introduction {


}

.welcome {


}

.sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

.main-menu {
    display: flex;

}

.resources {
    display: flex;
}

#content {
    background: #dcdcdc;
    float: left;
    width: 80%;
    height: 5em;
}

#clear {
    clear: both;
}

.footer {
    display: block;
    margin: 4px;
    padding: 5px;
    min-height: 20px;
    background: mediumpurple;
}