body {
  background: #fff;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

header {
  background: url("../images/header-bg.jpg");
  height: 250px;
  background-size: 100%;
  padding-left: 60px;
  padding-top: 60px;
  position: relative;
}
nav ul {
  padding: 0;
}

header img {
  overflow: hidden;
  height: 250px;
  width: 250px;
  position: absolute;
}

.layer-1 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background: #b379ba;
  margin-top: 5px;
}
.flex-container div {
  border-right: black 1px dashed;
}

.flex-container a {
  text-decoration: none;
}
a:hover {
  padding:5px;
}

.flex-element {
  display: flex;
  color: black;
  padding: 15px;
  background: #b379ba;

}
.flex-element:not(:last-child) a {
  border-right: 1px dotted black;
  padding-right: 35px;
}



.main-container {
  display: flex;
  flex-direction: row;
}

.secondblock {
  display: flex;
  flex-direction: column;
}

.articles {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.articles h1 {
  border-bottom: 1px solid black;
}
.about {
  justify-content: flex-end;
}

.secondblock {
  display: flex;
  flex-direction: row;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-basis: 150px;
}

.sidebar h1 {
  white-space: nowrap;
  display: flex;
}

.main-menu {
}
.main-menu a {
  text-decoration: none;
  line-height: 1.5;
}

.resources {
}

#content {
  background: #dcdcdc;
  float: left;
  width: 80%;
  height: 5em;
}

.footer {
  display: block;
  margin: 4px;
  padding: 5px;
  min-height: 20px;
  text-align: center;
  background: #b379ba;
}
